{% extends 'shorterner/base.html' %}

{% load crispy_forms_tags %}

{% block title %} Восстановление пароля {% endblock %}

{% block content %}
<div class="container mb-5">
    <h2 class="text-center text-uppercase mt-4">
        Проверьте почту!
    </h2>
    <h5 class="text-center text-uppercase text-success mt-4">
        Мы отправили вам по электронной почте инструкции по установке пароля. 
        Вы должны получить письмо в ближайшее время!
    </h5>
    <center>
        <a href="{% url 'login'%}"><button type="button" class="btn btn-primary">Вернуться на страницу авторизации</button></a>
    </center>
    
</div>
{% endblock %}