{% extends 'shorterner/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Смена пароля{% endblock %}

{% block content %}

{% if validlink %}

<div class="container">
  <h4 class="text-center text-uppercase text-secondary mt-4">Смена пароля</h4>
  <form method="POST">
      {% csrf_token %}
      {{form|crispy}}
      <button type="submit" class="btn btn-primary">Сменить пароль</button>
  </form>
</div>


{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>

{% endif %}
{% endblock %}